* {
    margin: 0;
    padding: 0;
}

/*Main*/

.head {
    width: 940px;
    height: 159px;
    padding: 163px 250px 0px 250px;
}

img {
    width: 1440px;
    height: 534px;
}

.text-rectangle {
    width: 1440px;
    height: 1706px;
    background-color: rgba(247, 247, 247, 1);
}

p {
    width: 960px;
    height: 1431px;
    padding: 140px 240px;
    color: rgba(16, 19, 21, 1);
    font-size: 24px;
    font-family: "Oxygen", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 35px;
}

/*Navigation-Bottom*/
.background-image {
    width: 1440px;
    height: 89px;
    background-image: url(https://s3-alpha-sig.figma.com/img/b9f5/1b49/e1cc36adb376363a8a8154c0926357df?Expires=1708905600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=d0l2mjklO7qkxvjw5hDwNwY4G1PKKXv20wXD7alSG4vPPSQoIr2yUwlnG56~CrBIuZEgGBMPqATAvEwAGg1l3I-JYHrGCndTYUIFTonDhCn60S0d4GWAVnJKL7UiVNaehmFqg3GEGiniED3tXY3581uqw~a6Bkwl69Dgl8CvaeaBJ0COhxPXpCHVS68dxL4FN~yKEKq4-0BBMlYFix44p3MUFwgJBzcFjrm1ZZFi5Y25HDF9iCIHsOdxJApkADjxMCbC3L8D0lPZc4qBhLutTOdOe9FlsptEdPOZQYFI9Iic87gb5M3JCCS6Ny4qB5UQeWkubo7PHvVzXdW8CIYhWQ__);
    background-position: bottom;
    background-size: cover;
    background-color: rgba(77, 86, 93, 1);

}

.nav-btm {
    display: flex;
    justify-content: space-between;
    width: 960px;
    height: 34px;
    padding: 28px 240px;
}

.nav-btm>nav>ul {
    display: flex;
    list-style: none;
}

.nav-btm>nav>ul>li {
    display: block;
    line-height: 26px;
}

.esc {
    width: auto;
    height: auto;
    font-size: 26px;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    padding: 3px 10px;
    color: rgba(255, 255, 255, 1);
}

.nav-left-part {
    color: rgba(255, 255, 255, 0.6);
    font-size: 11px;
    font-family: "Oxygen", sans-serif;
    font-weight: 400;
    font-style: normal;

}
